<div class="container-fluid text-center"
fxLayout
fxLayout.md="rows"
fxLayoutAlign="center"
fxLayoutGap="0px"
fxLayoutGap.xs="0"
>
    <div class="container-fluid text-center pad-l-25"
    fxLayout
    fxLayout.md="rows"
    fxLayoutAlign="left"
    fxLayoutGap="5px"
    fxLayoutGap.xs="0"
    fxLayoutWrap="wrap"
    >
    <!-- <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div>
    <div class="item item-5" fxFlex="200px">Item 5</div> -->
        <div class="work-item text-center mar-y-10" [fxFlex.xs]="xsDistribution" [fxFlex.sm]="smDistribution" [fxFlex.md]="mdDistribution" [fxFlex.lg]="lgDistribution" *ngFor="let work of works">
            <div>
                <a href="{{work.url}}" target="_blank">
                    {{ work.name }}
                </a>
            </div>
            <label for="description">
                {{ work.description }}
            </label>
        </div>
    </div>
    <!-- <div class="item item-1" fxFlex>Section 4.2</div>
    <div class="item item-1" fxFlex>Section 4.3</div>
    <div class="item item-1" fxFlex>Section 4.4</div> -->
</div>