
    <div class="container-fluid"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex="100%">
            <!-- <img class="img-circle" src="../assets/img/me_cartoon3.jpg"> -->
        </div>
    </div>

    <div class="container-fluid text-center"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

    

        <!-- <div class="item item-1" fxFlex="15%">Item 1</div>
        <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
        <div class="item item-3" fxFlex>Item 3</div> -->

        <div class="item item-1" fxFlex="100%">Section 2</div>
    </div>

    <div class="container-fluid text-center"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
        <!-- <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div>
        <div class="item item-5" fxFlex="200px">Item 5</div> -->
        <div class="item item-1" fxFlex="50%">Section 3.1</div>
        <div class="item item-1" fxFlex="50%">Section 3.2</div>
    </div>

    <div class="container-fluid text-center"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
        <!-- <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div>
        <div class="item item-5" fxFlex="200px">Item 5</div> -->
        <div class="item item-1" fxFlex>Section 4.1</div>
        <div class="item item-1" fxFlex>Section 4.2</div>
        <div class="item item-1" fxFlex>Section 4.3</div>
        <div class="item item-1" fxFlex>Section 4.4</div>
    </div>
