<div
    class="container"
    fxLayout
    fxFlex="100%"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
>
    <!-- <mat-card>Simple card</mat-card> -->
    <!-- <div class="item item-1 text-center" fxFlex="33%" fxFlexOrder="1">Item 1Item 1Item 1Item 1Item 1Item 1Item 1Item 1</div>
    <div class="item item-2 text-center" fxFlex="33%" fxFlexOrder="2">Item 2 Item 2 Item 2 Item 2 Item 2 Item 2  Item 2</div>
    <div class="item item-3 text-center" fxFlex="33%" fxFlexOrder="3" >Item 3 Item 3 Item 3 Item 3 Item 3 Item 3 Item 3</div> -->
    <!-- <mat-tab-group>
        <mat-tab label="Tab 1">Content 1</mat-tab>
        <mat-tab label="Tab 2">Content 2</mat-tab>
    </mat-tab-group> -->
    
    <div
    class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    >
        <div fxLayout="row" class="zero">
            <div fxFlex="50%" fxFlexOffset="10px" fxFlexOffset.xs="0" [fxFlex.md]="box1Width" class="one">
                <mat-card>
                    <mat-card-title>
                        Chuckie
                    </mat-card-title>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                        Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
                        of Lorem Ipsum.
                    </p>
                </mat-card>
            </div>
            <div fxFlex="50%" fxFlexOffset="10px" fxFlexOffset.xs="0" [fxFlex.md]="box1Width" class="one">
                <mat-card>
                    <img mat-card-mat-image class="img-circle" src="../assets/img/me_cartoon3.jpg">
                </mat-card>
            </div>
        </div>
        
        
        
    </div>

</div>

<div
class="container"
fxLayout
fxFlex="100%"
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0"
>
    <div
    class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    >
        <div fxLayout="row" fxFlex="100%" class="zero">
            <div fxFlex="50%" fxFlexOffset="10px" fxFlexOffset.xs="0" [fxFlex.md]="box1Width" class="one">
                <mat-card>
                    <mat-card-title>
                        Chuckie
                    </mat-card-title>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                        Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
                        of Lorem Ipsum.
                    </p>
                </mat-card>
            </div>
            <div fxFlex="50%" fxFlexOffset="10px" fxFlexOffset.xs="0" [fxFlex.md]="box1Width" class="one">
                <mat-card>
                    <img mat-card-mat-image class="img-circle" src="../assets/img/me_cartoon3.jpg">
                </mat-card>
            </div>
        </div>
    </div>
</div>